<h1>New Transaction</h1>

<%= form_for :transaction, url: transaction_index_path do |f| %>
    <p>
      <%= f.label :type %><br>
      <%= f.text_field :type %>
    </p>
   
    <p>
      <%= f.label :amount %><br>
      <%= f.text_field :amount %>
    </p>
   
    <p>
      <%= f.label :date %><br>
      <%= f.text_field :date %>
    </p>

    <p>
        <%= f.submit %>
    </p>
  <% end %>