<h1>New Account</h1>

<%= form_for :account, url: account_index_path do |f| %>
 
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@account.errors.count, "error") %> prohibited
        this acount from being saved:
      </h2>
      <ul>
        <% @account.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
      <%= f.label :type %><br>
      <%= f.text_field :type %>
    </p>
   
    <p>
      <%= f.label :balance %><br>
      <%= f.text_field :balance %>
    </p>

    <p>
        <%= f.submit %>
    </p>
  <% end %>